# 数据类型

## 1.基础

### 1.1.弱类型


>     
   ```  
   -不需要初始化指定类型，也不需要声明var
   -java： int test=12; String s="23123";
   -js: var a =123
   -其他：php，C，C#等都需要声明类型
    ```

In [12]:
test=123

### 1.2数据类型都有哪些


>     
   ```  
    int a=12.0;
    double a=12.32; # 比float精度高
    String a="asdasda"';
    Map<String,String>=... # ceshi->yes
    Array a =[12,2,323,121]
    ArrayList<String>=.... # Array（[]）：最高效；但是其容量固定且无法动态改变；
               #  ArrayList：  容量可动态增长；但牺牲效率；
    Set
    ```

In [13]:
a=12
b=12.32
c="123231"
list_a=[123,1231,123]
dict_b={"a":1231,"b":123}

In [14]:
dict_b["a"]

1231

## 2.基本类型

### 1.1 Number

In [16]:
a=12
b=23
c=1.23

In [17]:
d=a+b 
d

In [19]:
e=c+a
e

In [23]:
f=True
f+e

In [25]:
a/b

0.5217391304347826

In [26]:
a%b # 余数

12

In [27]:
a ** 5 # 乘方

248832

### 2.String

In [29]:
str_a="start right now"
str_a

'start right now'

In [36]:
str_a[:3]# 从o开始

'sta'

In [32]:
str_a[2:5]

'art'

In [35]:
new_l=str_a+"dsadsa"
new_l

'start right nowdsadsa'

In [37]:
new_l[0]="d"

TypeError: 'str' object does not support item assignment

### 3.List 列表

> 
 ```
 -同/不同类型的列表
 -可以用赋值方式改动
 ```

In [214]:
l_a=[123,23]
l_b=['tet','3dsdas','I love u 123']
l_c=["fasda",12312,3.4,"12312"]
l_c

['fasda', 12312, 3.4, '12312']

In [215]:
l_a[1]

23

In [216]:
l_b[1:]

['3dsdas', 'I love u 123']

In [217]:
l_b[3]

IndexError: list index out of range

In [218]:
l_b[2]

'I love u 123'

In [135]:
l_b[2]="xiugai"
l_b

['tet', '3dsdas', 'xiugai']

> List的属性相关函数

In [172]:
l_b.sort() #正排序，ASCII表首字母排序,先字母后数字
l_b

['3dsdas', 'I love u 123', 'insert_item']

In [173]:
l_b.reverse()
l_b

['insert_item', 'I love u 123', '3dsdas']

In [167]:
max(l_b) # 最大值，

'tet'

In [159]:
min(l_b) #最小值

'3dsdas'

In [160]:
len(l_b) #计算list的长度

4

In [161]:
l_b.count('tet') #计算出现次数

2

In [171]:
l_b.remove('tet') #移除第一个
l_b

['insert_item', '3dsdas', 'I love u 123']

In [219]:
l_b.insert(1,"insert_item") #在固定位置添加一个值，记住从0开始算
l_b

['tet', 'insert_item', '3dsdas', 'I love u 123']

In [220]:
del l_b[0]
l_b

['insert_item', '3dsdas', 'I love u 123']

> -list本身是函数

In [222]:
l_f=list("hello") #名词+()=函数
l_f

['h', 'e', 'l', 'l', 'o']

### 4.Tuple

> 
 ```
  -不能修改和string一样
  -其他特性同list
 ```

In [223]:
t_a=1,2,3
t_b="test_a",232,"das"
t_b

('test_a', 232, 'das')

> -使用函数

In [57]:
t1=tuple(12,32)

TypeError: tuple() takes at most 1 argument (2 given)

In [174]:
t1=tuple((1,232,23,"erwe"))
t1

(1, 232, 23, 'erwe')

In [175]:
t2=tuple([1,232,23,"erwe"])
t2

(1, 232, 23, 'erwe')

In [ ]:
t3=tuple("hello")
t3

In [67]:
l_a=list((23,23))
l_a

[23, 23]

In [68]:
t3[1]=12

TypeError: 'tuple' object does not support item assignment

In [180]:
#合并tuple
t4=t3+t2
t4

('h', 'e', 'l', 'l', 'o', 1, 232, 23, 'erwe')

In [181]:
len(t4)

9

In [185]:
max(t3)

'o'

In [187]:
min(t4) #只能比较同类型！！！之前list是因为数字加了引号默认作为字符串处理

TypeError: '<' not supported between instances of 'int' and 'str'

### 5.Set

>  ```
      -集合
      -无序，不能重复
      -不可更改
    ```

In [90]:
set_a={"a_a","a_b","a_c"}
set_a[0]="das"

TypeError: 'set' object does not support item assignment

In [91]:
set_a

{'a_a', 'a_b', 'a_c'}

In [224]:
set_b={"b_1","b_2","b_3","b_1"}
set_b

{'b_1', 'b_2', 'b_3'}

In [225]:
print(set_a - set_b)     # 差集
print(set_a | set_b)    # 并集
print(set_a & set_b)     # 交集

{'a_b', 'a_a', 'a_c'}
{'a_b', 'b_2', 'a_a', 'a_c', 'b_1', 'b_3'}
set()

In [226]:
set_c={} #错，这个创建了字典

In [227]:
set_c=set() #空集创建一定要用function

## 6.Dict

>  ```
    -相当于java的map
    -就是一个简单的key-value键值对
    -key是唯一的,不能重复;若重复，默认顺序最后一个为所选
 ```

In [228]:
person={"name":"frank","age":12,"nationality":"Chinese",2:134,"where did you graducate":"RMIT","name":"test"}
person

{'name': 'test',
 'age': 12,
 'nationality': 'Chinese',
 2: 134,
 'where did you graducate': 'RMIT'}

In [229]:
person["age"]

12

In [230]:
person[2]

134

> 其他书写方式

In [231]:
dict([('Runoob', 1), ('Google', 2), ('Taobao', 3)])

{'Google': 2, 'Runoob': 1, 'Taobao': 3}

In [232]:
{x: x**2 for x in (2, 4, 6)} #lambda expression

{2: 4, 4: 16, 6: 36}

In [233]:
dict(Runoob=1, Google=2, Taobao=3)

{'Google': 2, 'Runoob': 1, 'Taobao': 3}

In [234]:
l_new=[('Runoob', 1), ('Google', 2), ('Taobao', 3)]

In [235]:
l_new['Runoob']

TypeError: list indices must be integers or slices, not str

In [236]:
l_new[1]

('Google', 2)

In [237]:
person['age']=80
person

{'name': 'test',
 'age': 80,
 'nationality': 'Chinese',
 2: 134,
 'where did you graducate': 'RMIT'}

In [238]:
del person['age'] #

In [239]:
person

{'name': 'test',
 'nationality': 'Chinese',
 2: 134,
 'where did you graducate': 'RMIT'}

In [240]:
person.get("name")

'test'

In [241]:
person.items()

dict_items([('name', 'test'), ('nationality', 'Chinese'), (2, 134), ('where did you graducate', 'RMIT')])

In [242]:
person.keys()

dict_keys(['name', 'nationality', 2, 'where did you graducate'])

In [243]:
person.popitem() #随机选出一个item

('where did you graducate', 'RMIT')